<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist About</title>
</head>
<body>
    <h2>Artist About</h2>
    <h3>Artist name: <i><b><span style="color:red;">{{Artist.name}}</span></b></i></h3>
    <h3>Artist Image: <i><b><span style="color:red;">Mavjud emas!</span></b></i></h3>
    <h3>Artist age: <i><b><span style="color:red;">{{Artist.age}}</span></b></i></h3>
    <h3>Artist gender: <i><b><span style="color:red;">{{Artist.gender}}</span></b></i></h3>
    <h3>Artist about: <i><b><span style="color:red;">{{Artist.about}}</span></b></i></h3>
    <h3>Artist phone: <i><b><span style="color:red;">{{Artist.phone}}</span></b></i></h3>
    <h3>Artist address: <i><b><span style="color:red;">{{Artist.address}}</span></b></i></h3>
    <div class="main_but">
        <div style="display:inline;" class="but">
          <a href="/delete_a/{{Artist.id}}/"><button class="del" type="sumbit" > O'chirish</button></a>
        </div>

        <div style="display:inline;" class="but">
            <a href="#"><button class="del" type="sumbit" >Tahrirlash</button></a>
        </div>
        <div style="display:inline;" class="but">
            <a href="#"><button class="del" type="sumbit" >Add song</button></a>
        </div>
    </div>
</body>
</html>