<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Artists</title>
</head>
<body>
    <h3>All Artists</h3>
    <table border="1px solid black" style="border-collapse:collapse; width: 500px;">
        <thead>
            <th>
                Artist name
            </th>
            <th>
                Artist about
            </th>
        </thead>
        <tbody>
            {%for i in data_artist%}
            <td>
                <a style="text-decoration:none;" href="/artist_about/{{i.id}}">
                    {{i.name}}
                </a>
            </td>
            <td>
                {{i.about}}
            </td>
        </tbody>
            {%endfor%}
    </table>
</body>
</html>